* text=auto eol=lf

/.gitattributes    export-ignore
/.github           export-ignore
/.gitignore        export-ignore
/.phpstan-cache    export-ignore
/.phpunit.cache    export-ignore
/composer.lock     export-ignore
/phpstan.neon.dist export-ignore
/pint.json         export-ignore
/tests             export-ignore
/vendor            export-ignore
